# Compilação Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.factorypath
.vscode/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db